/* vars */

@import "vars/breakpoints";
@import "vars/fonts";
@import "vars/colors";
@import "vars/transitions";
@import "vars/buttons";
@import "vars/inputs";

/* Pages */
@import "pages/kabinet";
@import "pages/categories";


body {
  position: relative;
  overflow-y: scroll;
  font-family: $main-font;
  background: $white-primary;
  h1 {
    font: bold 30px $main-font;
  }
  h1, h2, h3 {
    //color: $white-primary;
    //padding-top: 50px;
    //text-align: center;
  }
  h3 {
    //padding-bottom: 100vh;
  }
}
$boxShadowConfig: 0 0 35px 2px;

$boxShadowConfig-mobile: 0 0 60px 2px;

header {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  &.scrolled {
    box-shadow: 0 16px 22px rgba(0,0,0,0.04), 0 10px 10px rgba(0,0,0,0.04);
    -webkit-box-shadow: 0 16px 22px rgba(0,0,0,0.04), 0 10px 10px rgba(0,0,0,0.04);
  }
  .navbar {
    padding: 30px 0;
    .cust-container {
      /* Hamburger button icon */
      .navbar-toggler {
        box-shadow: none;
        &:focus {
          box-shadow: none;
        }
        .animated-icon {
          width: 38px;
          height: 20px;
          position: relative;
          margin: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          cursor: pointer;

          span {
            background: $blue-primary;
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: top .2s .3s,transform .2s;
            -moz-transition: top .2s .3s,transform .2s;
            -o-transition: top .2s .3s,transform .2s;
            transition: top .2s .3s,transform .2s;
            &:nth-child(1) {
              top: 0;
              width: 85%;
            }
            &:nth-child(2), &:nth-child(3) {
              top: 10px;
              width: 60%;
            }
            &:nth-child(4) {
              top: 20px;
            }
          }
          &.open {
            span {
              padding-left: 0;
              background: $blue-primary;
              &:nth-child(1) {
                top: 11px;
                width: 0;
                left: 50%;
              }
              &:nth-child(2) {
                //border-bottom: 5px dotted #fff;
                width: 100%;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
              }
              &:nth-child(3) {
                //border-bottom: 5px dotted #fff;
                width: 100%;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }
              &:nth-child(4) {
                top: 11px;
                width: 0;
                left: 50%;
              }
            }
          }
          &:hover {
            span {
              width: 100%;
            }
          }
        }
      }
      .navbar-collapse {
        justify-content: space-between;
        .navbar-nav {
          margin-left: 72px;
          .nav-item {
            .nav-link {
              color: $black-primary;
              font: 500 14px $main-font;
            }
          }
        }
        form {
          align-self: end;
          .btn-primary-solid {
            text-transform: none;
            margin-left: 5px;
            padding: 14px 20px;
            a {
              color: $white-primary;
              text-decoration: none;
            }
            img {
              margin-left: 7px;
            }
          }
          .btn-primary-outline {
            a {
              color: $orange-primary;
              text-decoration: none;
            }
            &:hover {
              a {
                color: $white-primary;
              }
            }
          }
        }
      }
    }

    @media (max-width: $screen-991) {
      .cust-container {
        justify-content: space-between;
        flex-direction: row-reverse;
        #head-logo {
          //margin-left: calc(40vw - 100px);
        }
        .mobile-only-header-block {
          width: 40px;
        }
      }
    }
  }
  @media (max-width: $screen-991) {
    .navbar {
      .navbar-collapse {
        position: absolute;
        left: 0;
        top: 74px;
        width: 100vw;
        z-index: 3;
        background: $white-primary;
        justify-content: space-between;
        .navbar-nav {
          padding-top: 40px;
          margin-left: 0 !important;
          margin-bottom: 50px;
          .nav-item {
            .nav-link {
              text-align: center;
              font-size: 16px !important;
            }
          }
        }
        form {
          display: flex;
          justify-content: center;
          .btn-primary-solid {
            width: 20vw;
            text-transform: none;
            margin-left: 5px;
          }
        }
        &.show {
          height: calc(100vh - 74px) !important;
        }
      }
    }

  }
  @media(max-width: $screen-575) {
    .navbar {
      padding: 16px 0;
      .navbar-collapse {
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          .btn-primary-solid {
            width: 70vw;
            text-transform: none;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

section {
  &#head-block {
    background: linear-gradient(91.23deg, #35C9C5 0.17%, #00A9DB 100%);
    .head-left-side {
      padding-top: 92px;
      color: $white-primary;

      h1 {
        word-wrap: break-word;
        font: bold 50px/1.2 $main-font;
        margin-bottom: 10px;
      }
      h5 {
        word-wrap: break-word;
        font: bold 22px/2 $main-font;
        margin-bottom: 20px;
      }
    }
    .head-right-side {
      padding: 92px;
      .head-img {

      }
    }
    .three-items-block {
      position: absolute;
      width: 100%;
      bottom: -150px;
      left: 0;
      z-index: 3;
      align-items: center;
      background-color: $white-primary;
      padding: 40px 40px;
      box-shadow: 4px 4px 10px rgba(102, 113, 115, 0.15);
      border-radius: 12px;

      .block-item {
        width: calc(100% / 3);
        text-align: center;
        h1 {
          font-weight: 300;
          font-size: 63px;
          line-height: 52px;
          color: #2C4267;
        }
        h3 {
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          color: $black-primary;
          margin-top: 20px;
        }
        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
        }
      }

    }
    @media(max-width: $screen-575) {
      .head-left-side {
        padding-top: 20px;
        margin-bottom: 10px;
        h1 {font-size: 36px}
        h5 {line-height: 30px;}
      }
      .head-right-side {
        padding: 36px;
        .head-img {

        }
      }
    }
  }
  &#cards-block {
    margin-top: 270px;
    .titles-block {
      color: $black-secondary;
      h1 {

      }
      p {
        margin-top: 10px;
        margin-bottom: 40px;
      }

    }
    .card {
      width: 100% !important;
      //margin: 0 auto;
      //align-items: center;
      padding: 30px 44px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
      border: none;
      border-radius: 4px;
      .grey-box {
        //width: 100%; height: 300px;
        border-radius: 4px;
        background: darken($gray-line, 5%);

      }
      .card-body {
        padding: 40px 0;
        h3 {
          font-weight: bold;
          font-size: 18px;
          line-height: 20px;
          color: $black-secondary;
        }
        p {
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
          color: $black-secondary;
        }
        .btn-primary-solid {
          display: flex;
          justify-content: center;
          width: 95%;
          border-radius: 4px !important;
          img {
            margin-left: 10px;
            vertical-align: bottom;
          }
        }
      }
    }
    .link-btn {
      a {
        color: $black-secondary;
      }
    }
    @media(max-width: $screen-991) {
      margin-top: 20px;
      .titles-block {

      }
    }
    @media(max-width: $screen-575) {
      .titles-block {
        h1 {
          margin-top: 0;
          font-size: 25px;
          line-height: 54px;
        }
        p {
          margin-top: 0;
        }
      }
      .card {
        padding: 20px 20px;
        .card-body {
          padding: 30px 0 10px;
        }
      }
    }


  }
  &#top-themes-block {
    .titles-block {
      margin-bottom: 30px;
    }
    .card {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
      border: none;
      border-radius: 4px;
      color: $black-secondary;
      .card-head {
        padding: 18px 18px 0 18px;
        .head-left-side {
          margin-right: 14px;
          img {}
        }
        .head-right-side {
          h3 {
            margin: 0;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
          }
          .card-badge {
            display: flex;
            p {
              margin: 5px 0 0 0;
              font-weight: 500;
              font-size: 11px;
              line-height: 22px;
              padding: 0 10px;
              background: rgba(37, 110, 163, 0.4);
              border-radius: 2px;
            }
          }
        }
      }
      .card-body {
        p {
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 50px;
        }
      }
    }
    @media(max-width: $screen-575) {
      .titles-block {
        margin-bottom: 20px;
        h1 {
          font-size: 25px;
        }
      }
      .card {
        .card-head {
          .head-right-side {
            h3 {
              //font-size: 14px;
            }
            //p {
            //  width: 35%;
            //}
          }
        }
        .card-body {
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  &#subscribe-block {
    padding-top: 80px; padding-bottom: 50px;
    margin-bottom: 60px;
    background: linear-gradient(91.23deg, #35C9C5 0.17%, #00A9DB 100%);
    .container {
      margin-bottom: 0 !important;
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $white-primary
      }

    }
    @media(max-width: $screen-575) {
      padding-top: 50px; padding-bottom: 40px;
      margin-bottom: 40px;
      .container {
        .input-group {
          flex-direction: column;
          .input-primary {
            width: 100%;
            height: 50px;
            border-radius: 4px;
            margin-bottom: 10px;
          }
          .btn-primary-solid {
            border-radius: 4px;
            //width: 100%;
          }
        }
      }
    }
  }
}

#loginModal {
  &.modal {
    .modal-content {
      .btn-close {
        position: absolute;
        top: 10px; right: 10px;
        z-index: 5;
      }
      .modal-body {
        padding: 80px 80px;
        .modal-left-side {
          //padding: 0;
          .modal-head-logo {
            margin-bottom: 48px;
            text-align: start;
          }
          .title-group {
            margin-bottom: 6px;
            h3 {
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
            }
            p {
              font-weight: normal;
              font-size: 14px;
              line-height: 24px;
              color: #7C7C7C;
            }
          }
          form {
            padding-right: 40px;
            :nth-child(2) {
              label {
                display: none;
              }
            }
            #loginInputEmail1 {
              width: 85%;
            }
            #loginInputPassword1 {
              width: 85%;
            }
            .form-check {
              label {
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: #C9C9C9;
              }
            }
            .btn-primary-outline {
              padding: 12px 50px;
              margin-right: 30px;
              &:hover {
                a {
                  color: $white-primary
                }
              }
              a {
                text-decoration: none;
                color: $orange-primary;
                &:hover {
                  color: $white-primary
                }
              }
            }
            .btn-primary-solid {
              padding: 12px 50px;
              border: 1px solid $orange-primary;
            }
          }
        }
        .modal-right-side {
          //padding: 0;
          background: linear-gradient(104.04deg, #35C9C5 14%, #00A9DB 84.88%);
          .navbar {
            margin-top: 40px;
            margin-bottom: 80px;
            .navbar-nav {
              .nav-item {
                .nav-link {
                  color: $white-primary;
                }
              }
            }
          }
          img {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  @media (max-width: $screen-767) {
    .modal-body {
      padding: 60px 30px !important;
      .title-group {
        margin-bottom: 10px !important;
      }
      form {
        margin-bottom: 50px;
        .btn-primary-outline {
          margin-right: 10px !important;
          padding: 12px 24px !important;
        }
        .btn-primary-solid {
          padding: 12px 24px !important;
        }
      }
    }
  }
}

#registrModal {
  .modal-dialog {
    .modal-content {
      .btn-close {
        position: absolute;
        top: 10px; right: 10px;
        z-index: 5;
      }
      .modal-body {
        display: flex;
        align-items: center;
        form {
          padding-right: 30px;
        }
        .form-check {
          align-items: flex-end;
          .form-check-label {
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #C9C9C9;
          }
        }

        .btn-primary-solid {
          padding: 0;
          a {
            display: inline-block;
            text-decoration: none;
            color: $white-primary;
            padding: 14px 28px;
          }
        }
      }
    }
  }
}

footer {
  transition: 0.4s;
  padding: 20px 0;
  background: linear-gradient(91.23deg, #35C9C5 0.17%, #00A9DB 100%);

  /* for navbar */

  &.active-nav {
    margin-left: 0;
  }

  /* for main section */

  &.active-cont {
    margin-left: 20vw;
  }
  .container {
    .row {
      &.border-bottom {
        border-bottom: 1px solid rgba($gray-line, 0.5) !important;
      }
      h5 {
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: $white-primary;
        margin-bottom: 25px;
      }
      .nav {
        .nav-item {
          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: $white-primary !important;
            text-decoration: underline;
          }
        }
      }
      .foot-logo-col {
        img {
          margin-bottom: 10px;
        }
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: $white-primary;
        }
      }
    }
    p {
      &.text-muted {
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $gray-text !important;

      }
    }
  }
  @media(max-width: 767px) {
    margin-left: 0 !important;
  }
  @media(max-width: $screen-575) {
    .container {
      .row {
        padding-top: 10px !important;
        .foot-logo-col {
          text-align: center;
          img {
            width: 280px; height: auto;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}


.course-carousel-area {
  .slick-slider {
    width: calc(100% + 16px);
    margin-left: -8px;
  }
}
.course-box-wrap {
  padding: 0 12px;
  margin-bottom: 20px;
  margin-top: 7px;
  &:focus {
    outline: none;
  }
}

.course-carousel .slick-prev, .course-carousel .slick-next {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(#14171c, 0.1), 0 3px 1px 0 rgba(#14171c, 0.1);
  z-index: 1;
  top: calc( 50% - 5px);

}

.slick-prev,
.slick-next {
  position: absolute;
}

.slick-prev {
  left: 20px;
}

.slick-prev:before {
  content: "‹";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  color: $orange-primary;
  font: 40px/1 'Font Awesome';
  margin-bottom: 7px;
  font-weight: 600;
}

.slick-next {
  right: 20px;
  text-align: right;
}

.slick-next:before {
  content: "›";
  display: inline-block;
  color: $orange-primary;
  padding-right: 0px;
  vertical-align: middle;
  font: 40px/1 'Font Awesome';
  margin-bottom: 7px;
  font-weight: 600;
}

.slick-prev:hover:after,
.slick-next:hover:after {
  color: #7e7e7e;
}


