@charset "UTF-8";
/* vars */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'Acier-TextSolid';
  font-style: normal;
  font-weight: 400;
  src: url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("woff2"), url("../../lib/fonts/Acier/Acier-TextSolid.woff") format("woff"), url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("truetype"); }

/* Colors */
/* Colors */
@font-face {
  font-family: 'Acier-TextSolid';
  font-style: normal;
  font-weight: 400;
  src: url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("woff2"), url("../../lib/fonts/Acier/Acier-TextSolid.woff") format("woff"), url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("truetype"); }

.btn-primary-solid, .btn-primary-outline {
  background: #F3AF5A;
  font: 500 14px "Lato", sans-serif;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 16px 20px; }
  .btn-primary-solid:hover, .btn-primary-outline:hover {
    background: #FCBC6C;
    color: white;
    box-shadow: none; }
  .btn-primary-solid:active, .btn-primary-outline:active {
    background: #E59837;
    box-shadow: none; }
  .btn-primary-solid:focus, .btn-primary-outline:focus {
    box-shadow: none; }
  .btn-primary-solid a, .btn-primary-outline a {
    padding: 12px 2px; }
    .btn-primary-solid a:focus, .btn-primary-outline a:focus {
      outline: none !important; }

.btn-primary-outline {
  background: transparent;
  color: #F3AF5A;
  border: 1px solid #F3AF5A; }
  .btn-primary-outline:hover {
    background: #FCBC6C;
    color: #FFFFFF; }
  .btn-primary-outline:active {
    background: #E59837;
    color: #FFFFFF; }
  .btn-primary-outline:focus {
    box-shadow: none;
    outline: none; }
  .btn-primary-outline a:focus {
    outline: none !important; }

/* Colors */
@font-face {
  font-family: 'Acier-TextSolid';
  font-style: normal;
  font-weight: 400;
  src: url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("woff2"), url("../../lib/fonts/Acier/Acier-TextSolid.woff") format("woff"), url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("truetype"); }

.input-primary {
  border: none;
  border-radius: 4px;
  font: 500 14px/1 "Lato", sans-serif; }
  .input-primary::placeholder {
    /* Most modern browsers support this now. */
    font-size: 14px;
    color: #D6D6D6; }
  .input-primary:active {
    color: #212529;
    border: none;
    outline: 0;
    box-shadow: none; }
  .input-primary:focus {
    color: #212529;
    border: none;
    outline: 0;
    box-shadow: none; }

/* Pages */
@font-face {
  font-family: 'Acier-TextSolid';
  font-style: normal;
  font-weight: 400;
  src: url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("woff2"), url("../../lib/fonts/Acier/Acier-TextSolid.woff") format("woff"), url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("truetype"); }

/* Colors */
.kabinet-page {
  background: rgba(37, 110, 163, 0.03); }
  .kabinet-page #kabinet {
    /* for navbar */
    /* for main section */ }
    .kabinet-page #kabinet .navbar {
      position: sticky;
      z-index: 999;
      top: 0;
      padding: 12px 0;
      background: #23436A; }
      .kabinet-page #kabinet .navbar .btn-showside:focus {
        box-shadow: none; }
      .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet {
        width: 28px;
        height: 20px;
        position: relative;
        margin: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer; }
        .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet span {
          background: #FFFFFF;
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: top .2s .3s,transform .2s;
          -moz-transition: top .2s .3s,transform .2s;
          -o-transition: top .2s .3s,transform .2s;
          transition: top .2s .3s,transform .2s; }
          .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet span:nth-child(1) {
            top: 0;
            width: 85%; }
          .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet span:nth-child(2), .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet span:nth-child(3) {
            top: 10px;
            width: 60%; }
          .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet span:nth-child(4) {
            top: 20px; }
        .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet.open span {
          padding-left: 0;
          background: #FFFFFF; }
          .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet.open span:nth-child(1) {
            top: 11px;
            width: 0;
            left: 50%; }
          .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet.open span:nth-child(2) {
            width: 100%;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg); }
          .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet.open span:nth-child(3) {
            width: 100%;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg); }
          .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet.open span:nth-child(4) {
            top: 11px;
            width: 0;
            left: 50%; }
        .kabinet-page #kabinet .navbar .btn-showside .animated-icon-kabinet:hover span {
          width: 100%; }
      .kabinet-page #kabinet .navbar form input {
        background: rgba(255, 255, 255, 0.5);
        border: none; }
        .kabinet-page #kabinet .navbar form input:focus {
          box-shadow: none; }
      .kabinet-page #kabinet .navbar form .btn-search {
        display: flex;
        padding-top: 0.4rem; }
        .kabinet-page #kabinet .navbar form .btn-search:focus {
          box-shadow: none; }
    .kabinet-page #kabinet .sidebar {
      z-index: 10;
      background: #f8fbfc;
      width: 20vw;
      height: 100vh;
      position: fixed !important;
      margin-left: -23vw;
      transition: 0.4s;
      border-right: 7px solid #FFFFFF; }
      .kabinet-page #kabinet .sidebar .nav-item {
        display: flex;
        padding-left: 50px;
        margin-bottom: 10px; }
        .kabinet-page #kabinet .sidebar .nav-item img {
          margin-right: 10px; }
        .kabinet-page #kabinet .sidebar .nav-item a.nav-link {
          font: 500 18px/1.2 "Lato", sans-serif;
          color: #333333; }
        li .kabinet-page #kabinet .sidebar .nav-item.dropdown a {
          color: #333333; }
      @media (max-width: 767px) {
        .kabinet-page #kabinet .sidebar {
          position: absolute !important;
          width: 50vw;
          margin-left: -50vw; } }
      @media (max-width: 575px) {
        .kabinet-page #kabinet .sidebar {
          width: 70vw;
          margin-left: -70vw; } }
    .kabinet-page #kabinet .dropdown-menu {
      background-color: #7952b3; }
    .kabinet-page #kabinet .dropdown-item:active,
    .kabinet-page #kabinet .dropdown-item:focus,
    .kabinet-page #kabinet .dropdown-item:hover {
      background-color: #ffffff26; }
    .kabinet-page #kabinet .kabinet-container {
      transition: 0.4s; }
      .kabinet-page #kabinet .kabinet-container .page-content {
        padding: 20px; }
        .kabinet-page #kabinet .kabinet-container .page-content .courses-block {
          margin-bottom: 30px; }
          .kabinet-page #kabinet .kabinet-container .page-content .courses-block .titles-block {
            margin-bottom: 20px; }
            .kabinet-page #kabinet .kabinet-container .page-content .courses-block .titles-block h1 {
              font-weight: bold;
              font-size: 25px;
              line-height: 34px; }
            .kabinet-page #kabinet .kabinet-container .page-content .courses-block .titles-block P {
              font-weight: 500;
              font-size: 15px;
              line-height: 22px; }
          .kabinet-page #kabinet .kabinet-container .page-content .courses-block .card {
            cursor: pointer;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
            border: none;
            border-radius: 4px;
            color: #333333; }
            .kabinet-page #kabinet .kabinet-container .page-content .courses-block .card .card-head {
              padding: 18px 18px 0 18px; }
              .kabinet-page #kabinet .kabinet-container .page-content .courses-block .card .card-head .head-left-side {
                margin-right: 14px; }
              .kabinet-page #kabinet .kabinet-container .page-content .courses-block .card .card-head .head-right-side h3 {
                margin: 0;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px; }
              .kabinet-page #kabinet .kabinet-container .page-content .courses-block .card .card-head .head-right-side .card-badge {
                display: flex; }
                .kabinet-page #kabinet .kabinet-container .page-content .courses-block .card .card-head .head-right-side .card-badge p {
                  margin: 5px 0 0 0;
                  font-weight: 500;
                  font-size: 11px;
                  line-height: 22px;
                  padding: 0 10px;
                  background: rgba(37, 110, 163, 0.4);
                  border-radius: 2px; }
            .kabinet-page #kabinet .kabinet-container .page-content .courses-block .card .card-body p {
              font-weight: 500;
              font-size: 15px;
              line-height: 20px;
              margin-bottom: 50px; }
          .kabinet-page #kabinet .kabinet-container .page-content .courses-block .history-side-block h1 {
            font-size: 25px; }
          .kabinet-page #kabinet .kabinet-container .page-content .courses-block .history-side-block .head-left-side img {
            width: 32px; }
          .kabinet-page #kabinet .kabinet-container .page-content .courses-block .history-side-block .head-right-side h4 {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #333333; }
          .kabinet-page #kabinet .kabinet-container .page-content .courses-block .history-side-block .head-right-side p {
            font-weight: normal;
            font-size: 15px;
            line-height: 15px;
            margin-left: 10px; }
          .kabinet-page #kabinet .kabinet-container .page-content .courses-block .history-side-block .head-right-side .progress {
            position: relative;
            height: 12px;
            width: 100%;
            border: 2px solid #31A9A8;
            border-radius: 15px; }
            .kabinet-page #kabinet .kabinet-container .page-content .courses-block .history-side-block .head-right-side .progress .color {
              position: absolute;
              background-color: #31A9A8;
              width: 0;
              height: 6px;
              margin-left: 1px;
              margin-top: 1px;
              border-radius: 15px;
              animation: progress-animate 4s linear;
              animation-fill-mode: forwards; }

@keyframes progress-animate {
  0% {
    width: 0; }
  25% {
    width: 50%; }
  50% {
    width: 70%; }
  100% {
    width: 80%; } }
          .kabinet-page #kabinet .kabinet-container .page-content .courses-block .more-btn {
            text-align: end; }
            .kabinet-page #kabinet .kabinet-container .page-content .courses-block .more-btn a {
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: #333333; }
              .kabinet-page #kabinet .kabinet-container .page-content .courses-block .more-btn a img {
                margin-left: 5px; }
          @media (max-width: 575px) {
            .kabinet-page #kabinet .kabinet-container .page-content .courses-block .titles-block {
              margin-bottom: 20px; }
              .kabinet-page #kabinet .kabinet-container .page-content .courses-block .titles-block h1 {
                font-size: 25px; }
            .kabinet-page #kabinet .kabinet-container .page-content .courses-block .card .card-body p {
              margin-bottom: 10px; } }
        .kabinet-page #kabinet .kabinet-container .page-content .news-block {
          margin-bottom: 30px; }
          .kabinet-page #kabinet .kabinet-container .page-content .news-block .titles-block {
            margin-bottom: 20px; }
            .kabinet-page #kabinet .kabinet-container .page-content .news-block .titles-block h1 {
              font-weight: bold;
              font-size: 25px;
              line-height: 34px; }
            .kabinet-page #kabinet .kabinet-container .page-content .news-block .titles-block P {
              font-weight: 500;
              font-size: 15px;
              line-height: 22px; }
          .kabinet-page #kabinet .kabinet-container .page-content .news-block .card {
            cursor: pointer;
            box-shadow: none !important;
            border: none;
            border-top: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-radius: 0;
            color: #333333;
            background: transparent; }
            .kabinet-page #kabinet .kabinet-container .page-content .news-block .card .card-head {
              padding: 18px 18px 0 18px;
              justify-content: space-between; }
              .kabinet-page #kabinet .kabinet-container .page-content .news-block .card .card-head .head-left-side {
                margin-right: 14px; }
                .kabinet-page #kabinet .kabinet-container .page-content .news-block .card .card-head .head-left-side h3 {
                  margin: 0;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 22px; }
              .kabinet-page #kabinet .kabinet-container .page-content .news-block .card .card-head .head-right-side p {
                margin: 5px 0 0 0;
                font-weight: 500;
                font-size: 11px;
                line-height: 22px;
                padding: 0 10px;
                background: rgba(37, 110, 163, 0.4);
                border-radius: 2px;
                width: 100%; }
            .kabinet-page #kabinet .kabinet-container .page-content .news-block .card .card-body {
              align-items: center;
              color: #333333; }
              .kabinet-page #kabinet .kabinet-container .page-content .news-block .card .card-body img {
                width: 90px;
                height: auto;
                margin-right: 10px; }
              .kabinet-page #kabinet .kabinet-container .page-content .news-block .card .card-body p {
                font-weight: 500;
                font-size: 15px;
                line-height: 20px; }
          .kabinet-page #kabinet .kabinet-container .page-content .news-block .more-btn {
            text-align: end; }
            .kabinet-page #kabinet .kabinet-container .page-content .news-block .more-btn a {
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: #333333; }
              .kabinet-page #kabinet .kabinet-container .page-content .news-block .more-btn a img {
                margin-left: 5px; }
      @media (max-width: 767px) {
        .kabinet-page #kabinet .kabinet-container.active-cont {
          margin-left: 0 !important; }
        .kabinet-page #kabinet .kabinet-container .courses-block .card .card-head .head-right-side p {
          width: 50% !important; }
        .kabinet-page #kabinet .kabinet-container .news-block .card.without-border-on-mobile {
          border-top: 0; } }
    .kabinet-page #kabinet .active-nav {
      margin-left: 0; }
    .kabinet-page #kabinet .active-cont {
      margin-left: 20vw; }

.modal#coursesModal-kabinet .modal-dialog .modal-content, .modal#coursesModal-categories .modal-dialog .modal-content {
  min-height: 80vh;
  border: none; }
  .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header {
    background: #31A9A8; }
    .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header h3, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header h3 {
      font-weight: bold;
      font-size: 26px;
      line-height: 54px;
      color: #FFFFFF; }
    .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .btn-close:focus, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .btn-close:focus {
      box-shadow: none; }
    .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block {
      margin-right: 20px; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block p, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block p {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: start; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block .star-wrapper, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block .star-wrapper {
        transform: translate(0%, -50%);
        direction: rtl; }
        .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block .star-wrapper a, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block .star-wrapper a {
          font-size: 1em;
          color: #fff;
          text-decoration: none;
          transition: all 0.1s;
          margin: 1px; }
          .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block .star-wrapper a:hover, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block .star-wrapper a:hover {
            color: gold;
            transform: scale(1.2); }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block .s1:hover ~ a, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block .s1:hover ~ a {
        color: gold; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block .s2:hover ~ a, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block .s2:hover ~ a {
        color: gold; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block .s3:hover ~ a, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block .s3:hover ~ a {
        color: gold; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block .s4:hover ~ a, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block .s4:hover ~ a {
        color: gold; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-header .rating-block .s5:hover ~ a, .modal#coursesModal-categories .modal-dialog .modal-content .modal-header .rating-block .s5:hover ~ a {
        color: gold; }
  .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item h2, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item h2 {
    border-radius: 4px !important; }
  .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item button, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item button {
    padding: 0.5rem 1.25rem;
    border-radius: 4px !important;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333; }
    .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item button:not(.collapsed), .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item button:not(.collapsed) {
      color: #FFFFFF;
      background-color: #2C4267;
      box-shadow: none; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item button:not(.collapsed):after, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item button:not(.collapsed):after {
        background: url("../../img/arrow-white-top.svg") no-repeat center center; }
    .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item button:after, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item button:after {
      fill: white;
      background: url("../../img/arrow-blur-bottom.svg") no-repeat center center; }
  .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body {
    padding-right: 0.25rem;
    padding-left: 0.75rem; }
    .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul {
      list-style-type: none;
      padding-left: 0 !important;
      margin-bottom: 0; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul li, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul li {
        padding: 3px 7px;
        margin-bottom: 5px;
        border-radius: 4px; }
        .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul li:hover, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul li:hover {
          background: #23436A; }
          .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul li:hover a, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul li:hover a {
            color: #FFFFFF; }
        .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul li a, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-left-side .accordion .accordion-item .accordion-body ul li a {
          text-decoration: none;
          font-weight: normal;
          font-size: 15px;
          line-height: 25px;
          color: #333333; }
  .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side .breadcrumb, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side .breadcrumb {
    margin-bottom: 20px; }
    .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side .breadcrumb .breadcrumb-item, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side .breadcrumb .breadcrumb-item {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #333333; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side .breadcrumb .breadcrumb-item:before, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side .breadcrumb .breadcrumb-item:before {
        color: #2C4267; }
      .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side .breadcrumb .breadcrumb-item a, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side .breadcrumb .breadcrumb-item a {
        color: #2C4267 !important; }
  .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side h3, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 30px; }
  .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side .videoWrapper, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 40px; }
    .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side .videoWrapper iframe, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side p, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 40px; }
  .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side .banner-block, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side .banner-block {
    padding: 100px 60px 40px;
    width: 100%;
    background: linear-gradient(104.04deg, rgba(53, 201, 197, 0.4) 14%, rgba(0, 169, 219, 0.4) 84.88%); }
    .modal#coursesModal-kabinet .modal-dialog .modal-content .modal-body .courses-modal-right-side .banner-block h1, .modal#coursesModal-categories .modal-dialog .modal-content .modal-body .courses-modal-right-side .banner-block h1 {
      font-weight: bold;
      font-size: 60px;
      line-height: 68px;
      color: #256EA3; }

@font-face {
  font-family: 'Acier-TextSolid';
  font-style: normal;
  font-weight: 400;
  src: url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("woff2"), url("../../lib/fonts/Acier/Acier-TextSolid.woff") format("woff"), url("../../lib/fonts/Acier/Acier-TextSolid.ttf") format("truetype"); }

/* Colors */
.categories-page {
  background: rgba(37, 110, 163, 0.03); }

#categories {
  /* for navbar */
  /* for main section */ }
  #categories .navbar {
    position: sticky;
    z-index: 999;
    top: 0;
    padding: 12px 0;
    background: #23436A; }
    #categories .navbar .btn-showside:focus {
      box-shadow: none; }
    #categories .navbar .btn-showside .animated-icon-kabinet {
      width: 28px;
      height: 20px;
      position: relative;
      margin: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      cursor: pointer; }
      #categories .navbar .btn-showside .animated-icon-kabinet span {
        background: #FFFFFF;
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: top .2s .3s,transform .2s;
        -moz-transition: top .2s .3s,transform .2s;
        -o-transition: top .2s .3s,transform .2s;
        transition: top .2s .3s,transform .2s; }
        #categories .navbar .btn-showside .animated-icon-kabinet span:nth-child(1) {
          top: 0;
          width: 85%; }
        #categories .navbar .btn-showside .animated-icon-kabinet span:nth-child(2), #categories .navbar .btn-showside .animated-icon-kabinet span:nth-child(3) {
          top: 10px;
          width: 60%; }
        #categories .navbar .btn-showside .animated-icon-kabinet span:nth-child(4) {
          top: 20px; }
      #categories .navbar .btn-showside .animated-icon-kabinet.open span {
        padding-left: 0;
        background: #FFFFFF; }
        #categories .navbar .btn-showside .animated-icon-kabinet.open span:nth-child(1) {
          top: 11px;
          width: 0;
          left: 50%; }
        #categories .navbar .btn-showside .animated-icon-kabinet.open span:nth-child(2) {
          width: 100%;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        #categories .navbar .btn-showside .animated-icon-kabinet.open span:nth-child(3) {
          width: 100%;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        #categories .navbar .btn-showside .animated-icon-kabinet.open span:nth-child(4) {
          top: 11px;
          width: 0;
          left: 50%; }
      #categories .navbar .btn-showside .animated-icon-kabinet:hover span {
        width: 100%; }
    #categories .navbar form input {
      background: rgba(255, 255, 255, 0.5);
      border: none; }
      #categories .navbar form input:focus {
        box-shadow: none; }
    #categories .navbar form .btn-search {
      display: flex;
      padding-top: 0.4rem; }
      #categories .navbar form .btn-search:focus {
        box-shadow: none; }
  #categories .sidebar {
    z-index: 10;
    background: #f8fbfc;
    width: 20vw;
    height: 100vh;
    position: fixed !important;
    margin-left: -23vw;
    transition: 0.4s;
    border-right: 7px solid #FFFFFF; }
    #categories .sidebar h1 {
      padding-left: 50px; }
    #categories .sidebar .nav-item {
      display: flex;
      padding-left: 50px;
      margin-bottom: 10px; }
      #categories .sidebar .nav-item img {
        margin-right: 10px; }
      #categories .sidebar .nav-item a.nav-link {
        font: 500 18px/1.2 "Lato", sans-serif;
        color: #333333; }
      li #categories .sidebar .nav-item.dropdown a {
        color: #333333; }
    @media (max-width: 767px) {
      #categories .sidebar {
        position: absolute !important;
        width: 50vw;
        margin-left: -50vw; } }
    @media (max-width: 575px) {
      #categories .sidebar {
        width: 70vw;
        margin-left: -70vw; } }
  #categories .dropdown-menu {
    background-color: #7952b3; }
  #categories .dropdown-item:active,
  #categories .dropdown-item:focus,
  #categories .dropdown-item:hover {
    background-color: #ffffff26; }
  #categories .categories-container {
    transition: 0.4s; }
    #categories .categories-container .page-content {
      padding: 20px; }
      #categories .categories-container .page-content .nav-tabs {
        background: rgba(37, 110, 163, 0.03);
        border-bottom: none;
        margin-bottom: 54px; }
        #categories .categories-container .page-content .nav-tabs .nav-link {
          width: calc(100% / 6);
          border: none;
          border-radius: 0;
          color: #333333; }
          #categories .categories-container .page-content .nav-tabs .nav-link.active {
            background: #F8FBFC; }
      #categories .categories-container .page-content .courses-block {
        margin-bottom: 30px; }
        #categories .categories-container .page-content .courses-block .titles-block {
          margin-bottom: 20px; }
          #categories .categories-container .page-content .courses-block .titles-block h1 {
            font-weight: bold;
            font-size: 25px;
            line-height: 34px; }
          #categories .categories-container .page-content .courses-block .titles-block P {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px; }
        #categories .categories-container .page-content .courses-block .card {
          cursor: pointer;
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
          border: none;
          border-radius: 4px;
          color: #333333; }
          #categories .categories-container .page-content .courses-block .card .card-head {
            padding: 18px 18px 0 18px; }
            #categories .categories-container .page-content .courses-block .card .card-head .head-left-side {
              margin-right: 14px; }
            #categories .categories-container .page-content .courses-block .card .card-head .head-right-side h3 {
              margin: 0;
              font-weight: bold;
              font-size: 18px;
              line-height: 22px; }
            #categories .categories-container .page-content .courses-block .card .card-head .head-right-side .card-badge {
              display: flex; }
              #categories .categories-container .page-content .courses-block .card .card-head .head-right-side .card-badge p {
                margin: 5px 0 0 0;
                font-weight: 500;
                font-size: 11px;
                line-height: 22px;
                padding: 0 10px;
                background: rgba(37, 110, 163, 0.4);
                border-radius: 2px; }
          #categories .categories-container .page-content .courses-block .card .card-body p {
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 50px; }
        #categories .categories-container .page-content .courses-block .more-btn {
          text-align: end; }
          #categories .categories-container .page-content .courses-block .more-btn a {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #333333; }
            #categories .categories-container .page-content .courses-block .more-btn a img {
              margin-left: 5px; }
    @media (max-width: 767px) {
      #categories .categories-container .nav-tabs {
        margin-bottom: 54px; }
        #categories .categories-container .nav-tabs .nav-link {
          font-size: 14px;
          width: calc(100% / 2) !important; }
      #categories .categories-container.active-cont {
        margin-left: 0 !important; }
      #categories .categories-container .courses-block .card .card-head .head-right-side p {
        width: 50% !important; } }
    @media (max-width: 575px) {
      #categories .categories-container .titles-block {
        margin-bottom: 20px; }
        #categories .categories-container .titles-block h1 {
          font-size: 25px; }
      #categories .categories-container .card .card-head .head-right-side p {
        width: 40% !important; }
      #categories .categories-container .card .card-body p {
        margin-bottom: 10px; } }
  #categories .active-nav {
    margin-left: 0; }
  #categories .active-cont {
    margin-left: 20vw; }

body {
  position: relative;
  overflow-y: scroll;
  font-family: "Lato", sans-serif;
  background: #FFFFFF; }
  body h1 {
    font: bold 30px "Lato", sans-serif; }

header {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  z-index: 10; }
  header.scrolled {
    box-shadow: 0 16px 22px rgba(0, 0, 0, 0.04), 0 10px 10px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 16px 22px rgba(0, 0, 0, 0.04), 0 10px 10px rgba(0, 0, 0, 0.04); }
  header .navbar {
    padding: 30px 0; }
    header .navbar .cust-container {
      /* Hamburger button icon */ }
      header .navbar .cust-container .navbar-toggler {
        box-shadow: none; }
        header .navbar .cust-container .navbar-toggler:focus {
          box-shadow: none; }
        header .navbar .cust-container .navbar-toggler .animated-icon {
          width: 38px;
          height: 20px;
          position: relative;
          margin: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          cursor: pointer; }
          header .navbar .cust-container .navbar-toggler .animated-icon span {
            background: #23436A;
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: top .2s .3s,transform .2s;
            -moz-transition: top .2s .3s,transform .2s;
            -o-transition: top .2s .3s,transform .2s;
            transition: top .2s .3s,transform .2s; }
            header .navbar .cust-container .navbar-toggler .animated-icon span:nth-child(1) {
              top: 0;
              width: 85%; }
            header .navbar .cust-container .navbar-toggler .animated-icon span:nth-child(2), header .navbar .cust-container .navbar-toggler .animated-icon span:nth-child(3) {
              top: 10px;
              width: 60%; }
            header .navbar .cust-container .navbar-toggler .animated-icon span:nth-child(4) {
              top: 20px; }
          header .navbar .cust-container .navbar-toggler .animated-icon.open span {
            padding-left: 0;
            background: #23436A; }
            header .navbar .cust-container .navbar-toggler .animated-icon.open span:nth-child(1) {
              top: 11px;
              width: 0;
              left: 50%; }
            header .navbar .cust-container .navbar-toggler .animated-icon.open span:nth-child(2) {
              width: 100%;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg); }
            header .navbar .cust-container .navbar-toggler .animated-icon.open span:nth-child(3) {
              width: 100%;
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg); }
            header .navbar .cust-container .navbar-toggler .animated-icon.open span:nth-child(4) {
              top: 11px;
              width: 0;
              left: 50%; }
          header .navbar .cust-container .navbar-toggler .animated-icon:hover span {
            width: 100%; }
      header .navbar .cust-container .navbar-collapse {
        justify-content: space-between; }
        header .navbar .cust-container .navbar-collapse .navbar-nav {
          margin-left: 72px; }
          header .navbar .cust-container .navbar-collapse .navbar-nav .nav-item .nav-link {
            color: #000000;
            font: 500 14px "Lato", sans-serif; }
        header .navbar .cust-container .navbar-collapse form {
          align-self: end; }
          header .navbar .cust-container .navbar-collapse form .btn-primary-solid, header .navbar .cust-container .navbar-collapse form .btn-primary-outline {
            text-transform: none;
            margin-left: 5px;
            padding: 14px 20px; }
            header .navbar .cust-container .navbar-collapse form .btn-primary-solid a, header .navbar .cust-container .navbar-collapse form .btn-primary-outline a {
              color: #FFFFFF;
              text-decoration: none; }
            header .navbar .cust-container .navbar-collapse form .btn-primary-solid img, header .navbar .cust-container .navbar-collapse form .btn-primary-outline img {
              margin-left: 7px; }
          header .navbar .cust-container .navbar-collapse form .btn-primary-outline a {
            color: #F3AF5A;
            text-decoration: none; }
          header .navbar .cust-container .navbar-collapse form .btn-primary-outline:hover a {
            color: #FFFFFF; }
    @media (max-width: 991px) {
      header .navbar .cust-container {
        justify-content: space-between;
        flex-direction: row-reverse; }
        header .navbar .cust-container .mobile-only-header-block {
          width: 40px; } }
  @media (max-width: 991px) {
    header .navbar .navbar-collapse {
      position: absolute;
      left: 0;
      top: 74px;
      width: 100vw;
      z-index: 3;
      background: #FFFFFF;
      justify-content: space-between; }
      header .navbar .navbar-collapse .navbar-nav {
        padding-top: 40px;
        margin-left: 0 !important;
        margin-bottom: 50px; }
        header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          text-align: center;
          font-size: 16px !important; }
      header .navbar .navbar-collapse form {
        display: flex;
        justify-content: center; }
        header .navbar .navbar-collapse form .btn-primary-solid, header .navbar .navbar-collapse form .btn-primary-outline {
          width: 20vw;
          text-transform: none;
          margin-left: 5px; }
      header .navbar .navbar-collapse.show {
        height: calc(100vh - 74px) !important; } }
  @media (max-width: 575px) {
    header .navbar {
      padding: 16px 0; }
      header .navbar .navbar-collapse form {
        display: flex;
        flex-direction: column;
        align-items: center; }
        header .navbar .navbar-collapse form .btn-primary-solid, header .navbar .navbar-collapse form .btn-primary-outline {
          width: 70vw;
          text-transform: none;
          margin-left: 5px; } }

section#head-block {
  background: linear-gradient(91.23deg, #35C9C5 0.17%, #00A9DB 100%); }
  section#head-block .head-left-side {
    padding-top: 92px;
    color: #FFFFFF; }
    section#head-block .head-left-side h1 {
      word-wrap: break-word;
      font: bold 50px/1.2 "Lato", sans-serif;
      margin-bottom: 10px; }
    section#head-block .head-left-side h5 {
      word-wrap: break-word;
      font: bold 22px/2 "Lato", sans-serif;
      margin-bottom: 20px; }
  section#head-block .head-right-side {
    padding: 92px; }
  section#head-block .three-items-block {
    position: absolute;
    width: 100%;
    bottom: -150px;
    left: 0;
    z-index: 3;
    align-items: center;
    background-color: #FFFFFF;
    padding: 40px 40px;
    box-shadow: 4px 4px 10px rgba(102, 113, 115, 0.15);
    border-radius: 12px; }
    section#head-block .three-items-block .block-item {
      width: calc(100% / 3);
      text-align: center; }
      section#head-block .three-items-block .block-item h1 {
        font-weight: 300;
        font-size: 63px;
        line-height: 52px;
        color: #2C4267; }
      section#head-block .three-items-block .block-item h3 {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-top: 20px; }
      section#head-block .three-items-block .block-item p {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px; }
  @media (max-width: 575px) {
    section#head-block .head-left-side {
      padding-top: 20px;
      margin-bottom: 10px; }
      section#head-block .head-left-side h1 {
        font-size: 36px; }
      section#head-block .head-left-side h5 {
        line-height: 30px; }
    section#head-block .head-right-side {
      padding: 36px; } }

section#cards-block {
  margin-top: 270px; }
  section#cards-block .titles-block {
    color: #333333; }
    section#cards-block .titles-block p {
      margin-top: 10px;
      margin-bottom: 40px; }
  section#cards-block .card {
    width: 100% !important;
    padding: 30px 44px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px; }
    section#cards-block .card .grey-box {
      border-radius: 4px;
      background: #e0e0e0; }
    section#cards-block .card .card-body {
      padding: 40px 0; }
      section#cards-block .card .card-body h3 {
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        color: #333333; }
      section#cards-block .card .card-body p {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #333333; }
      section#cards-block .card .card-body .btn-primary-solid, section#cards-block .card .card-body .btn-primary-outline {
        display: flex;
        justify-content: center;
        width: 95%;
        border-radius: 4px !important; }
        section#cards-block .card .card-body .btn-primary-solid img, section#cards-block .card .card-body .btn-primary-outline img {
          margin-left: 10px;
          vertical-align: bottom; }
  section#cards-block .link-btn a {
    color: #333333; }
  @media (max-width: 991px) {
    section#cards-block {
      margin-top: 20px; } }
  @media (max-width: 575px) {
    section#cards-block .titles-block h1 {
      margin-top: 0;
      font-size: 25px;
      line-height: 54px; }
    section#cards-block .titles-block p {
      margin-top: 0; }
    section#cards-block .card {
      padding: 20px 20px; }
      section#cards-block .card .card-body {
        padding: 30px 0 10px; } }

section#top-themes-block .titles-block {
  margin-bottom: 30px; }

section#top-themes-block .card {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: #333333; }
  section#top-themes-block .card .card-head {
    padding: 18px 18px 0 18px; }
    section#top-themes-block .card .card-head .head-left-side {
      margin-right: 14px; }
    section#top-themes-block .card .card-head .head-right-side h3 {
      margin: 0;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px; }
    section#top-themes-block .card .card-head .head-right-side .card-badge {
      display: flex; }
      section#top-themes-block .card .card-head .head-right-side .card-badge p {
        margin: 5px 0 0 0;
        font-weight: 500;
        font-size: 11px;
        line-height: 22px;
        padding: 0 10px;
        background: rgba(37, 110, 163, 0.4);
        border-radius: 2px; }
  section#top-themes-block .card .card-body p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 50px; }

@media (max-width: 575px) {
  section#top-themes-block .titles-block {
    margin-bottom: 20px; }
    section#top-themes-block .titles-block h1 {
      font-size: 25px; }
  section#top-themes-block .card .card-body p {
    margin-bottom: 10px; } }

section#subscribe-block {
  padding-top: 80px;
  padding-bottom: 50px;
  margin-bottom: 60px;
  background: linear-gradient(91.23deg, #35C9C5 0.17%, #00A9DB 100%); }
  section#subscribe-block .container {
    margin-bottom: 0 !important; }
    section#subscribe-block .container p {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF; }
  @media (max-width: 575px) {
    section#subscribe-block {
      padding-top: 50px;
      padding-bottom: 40px;
      margin-bottom: 40px; }
      section#subscribe-block .container .input-group {
        flex-direction: column; }
        section#subscribe-block .container .input-group .input-primary {
          width: 100%;
          height: 50px;
          border-radius: 4px;
          margin-bottom: 10px; }
        section#subscribe-block .container .input-group .btn-primary-solid, section#subscribe-block .container .input-group .btn-primary-outline {
          border-radius: 4px; } }

#loginModal.modal .modal-content .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5; }

#loginModal.modal .modal-content .modal-body {
  padding: 80px 80px; }
  #loginModal.modal .modal-content .modal-body .modal-left-side .modal-head-logo {
    margin-bottom: 48px;
    text-align: start; }
  #loginModal.modal .modal-content .modal-body .modal-left-side .title-group {
    margin-bottom: 6px; }
    #loginModal.modal .modal-content .modal-body .modal-left-side .title-group h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px; }
    #loginModal.modal .modal-content .modal-body .modal-left-side .title-group p {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #7C7C7C; }
  #loginModal.modal .modal-content .modal-body .modal-left-side form {
    padding-right: 40px; }
    #loginModal.modal .modal-content .modal-body .modal-left-side form :nth-child(2) label {
      display: none; }
    #loginModal.modal .modal-content .modal-body .modal-left-side form #loginInputEmail1 {
      width: 85%; }
    #loginModal.modal .modal-content .modal-body .modal-left-side form #loginInputPassword1 {
      width: 85%; }
    #loginModal.modal .modal-content .modal-body .modal-left-side form .form-check label {
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      color: #C9C9C9; }
    #loginModal.modal .modal-content .modal-body .modal-left-side form .btn-primary-outline {
      padding: 12px 50px;
      margin-right: 30px; }
      #loginModal.modal .modal-content .modal-body .modal-left-side form .btn-primary-outline:hover a {
        color: #FFFFFF; }
      #loginModal.modal .modal-content .modal-body .modal-left-side form .btn-primary-outline a {
        text-decoration: none;
        color: #F3AF5A; }
        #loginModal.modal .modal-content .modal-body .modal-left-side form .btn-primary-outline a:hover {
          color: #FFFFFF; }
    #loginModal.modal .modal-content .modal-body .modal-left-side form .btn-primary-solid, #loginModal.modal .modal-content .modal-body .modal-left-side form .btn-primary-outline {
      padding: 12px 50px;
      border: 1px solid #F3AF5A; }
  #loginModal.modal .modal-content .modal-body .modal-right-side {
    background: linear-gradient(104.04deg, #35C9C5 14%, #00A9DB 84.88%); }
    #loginModal.modal .modal-content .modal-body .modal-right-side .navbar {
      margin-top: 40px;
      margin-bottom: 80px; }
      #loginModal.modal .modal-content .modal-body .modal-right-side .navbar .navbar-nav .nav-item .nav-link {
        color: #FFFFFF; }
    #loginModal.modal .modal-content .modal-body .modal-right-side img {
      margin-bottom: 40px; }

@media (max-width: 767px) {
  #loginModal .modal-body {
    padding: 60px 30px !important; }
    #loginModal .modal-body .title-group {
      margin-bottom: 10px !important; }
    #loginModal .modal-body form {
      margin-bottom: 50px; }
      #loginModal .modal-body form .btn-primary-outline {
        margin-right: 10px !important;
        padding: 12px 24px !important; }
      #loginModal .modal-body form .btn-primary-solid, #loginModal .modal-body form .btn-primary-outline {
        padding: 12px 24px !important; } }

#registrModal .modal-dialog .modal-content .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5; }

#registrModal .modal-dialog .modal-content .modal-body {
  display: flex;
  align-items: center; }
  #registrModal .modal-dialog .modal-content .modal-body form {
    padding-right: 30px; }
  #registrModal .modal-dialog .modal-content .modal-body .form-check {
    align-items: flex-end; }
    #registrModal .modal-dialog .modal-content .modal-body .form-check .form-check-label {
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      color: #C9C9C9; }
  #registrModal .modal-dialog .modal-content .modal-body .btn-primary-solid, #registrModal .modal-dialog .modal-content .modal-body .btn-primary-outline {
    padding: 0; }
    #registrModal .modal-dialog .modal-content .modal-body .btn-primary-solid a, #registrModal .modal-dialog .modal-content .modal-body .btn-primary-outline a {
      display: inline-block;
      text-decoration: none;
      color: #FFFFFF;
      padding: 14px 28px; }

footer {
  transition: 0.4s;
  padding: 20px 0;
  background: linear-gradient(91.23deg, #35C9C5 0.17%, #00A9DB 100%);
  /* for navbar */
  /* for main section */ }
  footer.active-nav {
    margin-left: 0; }
  footer.active-cont {
    margin-left: 20vw; }
  footer .container .row.border-bottom {
    border-bottom: 1px solid rgba(237, 237, 237, 0.5) !important; }
  footer .container .row h5 {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 25px; }
  footer .container .row .nav .nav-item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF !important;
    text-decoration: underline; }
  footer .container .row .foot-logo-col img {
    margin-bottom: 10px; }
  footer .container .row .foot-logo-col p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  footer .container p.text-muted {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #D6D6D6 !important; }
  @media (max-width: 767px) {
    footer {
      margin-left: 0 !important; } }
  @media (max-width: 575px) {
    footer .container .row {
      padding-top: 10px !important; }
      footer .container .row .foot-logo-col {
        text-align: center; }
        footer .container .row .foot-logo-col img {
          width: 280px;
          height: auto;
          margin-bottom: 40px; } }

.course-carousel-area .slick-slider {
  width: calc(100% + 16px);
  margin-left: -8px; }

.course-box-wrap {
  padding: 0 12px;
  margin-bottom: 20px;
  margin-top: 7px; }
  .course-box-wrap:focus {
    outline: none; }

.course-carousel .slick-prev, .course-carousel .slick-next {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  z-index: 1;
  top: calc( 50% - 5px); }

.slick-prev,
.slick-next {
  position: absolute; }

.slick-prev {
  left: 20px; }

.slick-prev:before {
  content: "‹";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  color: #F3AF5A;
  font: 40px/1 'Font Awesome';
  margin-bottom: 7px;
  font-weight: 600; }

.slick-next {
  right: 20px;
  text-align: right; }

.slick-next:before {
  content: "›";
  display: inline-block;
  color: #F3AF5A;
  padding-right: 0px;
  vertical-align: middle;
  font: 40px/1 'Font Awesome';
  margin-bottom: 7px;
  font-weight: 600; }

.slick-prev:hover:after,
.slick-next:hover:after {
  color: #7e7e7e; }
