@import "colors";
@import "fonts";

.btn-primary-solid {
  background: $orange-primary;
  font: 500 14px $main-font;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 16px 20px;
  &:hover {
    background: $orange-primary-hover;
    color: white;
    box-shadow: none;
  }
  &:active {
    background: $orange-primary-active;
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
  a {
    padding: 12px 2px;
    &:focus {
      outline: none !important;
    }
  }
}

.btn-primary-outline {
  @extend .btn-primary-solid;
  background: transparent;
  color: $orange-primary;
  border: 1px solid $orange-primary;
  &:hover {
    background: $orange-primary-hover;
    color: $white-primary;
  }
  &:active {
    background: $orange-primary-active;
    color: $white-primary;
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }
  a {
    &:focus {
      outline: none !important;
    }
  }
}
