/* Colors */

$orange-primary: #F3AF5A;
$orange-primary-hover: #FCBC6C;
$orange-primary-active: #E59837;
$blue-primary: #23436A;
$blue-secondary: #256EA3;
$blue-icons: #2C4267;

$green-primary: #31A9A8;
$black-primary: #000000;
$black-secondary: #333333;
$white-primary: #FFFFFF;

$gray-line: #EDEDED;
$gray-text: #D6D6D6;


$accent-orange: darken($orange-primary, 7%);
