@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'Acier-TextSolid';
  font-style: normal;
  font-weight: 400;
  src: url('../../lib/fonts/Acier/Acier-TextSolid.ttf') format('woff2'),
  url('../../lib/fonts/Acier/Acier-TextSolid.woff') format('woff'),
  url('../../lib/fonts/Acier/Acier-TextSolid.ttf') format('truetype');
}


$sub-font: 'Acier-TextSolid', sans-serif;

$main-font: 'Lato', sans-serif;
