@import "colors";
@import "fonts";

.input-primary {
  border: none;
  border-radius: 4px;
  font: 500 14px/1 $main-font;
  &::placeholder { /* Most modern browsers support this now. */
    font-size: 14px;
    color: $gray-text
  }
  &:active {
    color: #212529;
    border: none;
    outline: 0;
    box-shadow: none
  }
  &:focus {
    color: #212529;
    border: none;
    outline: 0;
    box-shadow: none
  }
}

