@import "../vars/fonts";
@import "../vars/colors";
@import "../vars/breakpoints";

.categories-page {
  background: rgba(37, 110, 163, 0.03);
}
#categories {
  .navbar {
    position: sticky;
    z-index: 999;
    top: 0;
    padding: 12px 0;
    background: $blue-primary;
    .btn-showside {
      &:focus {
        box-shadow: none;
      }
      .animated-icon-kabinet {
        width: 28px;
        height: 20px;
        position: relative;
        margin: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;

        span {
          background: $white-primary;
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: top .2s .3s,transform .2s;
          -moz-transition: top .2s .3s,transform .2s;
          -o-transition: top .2s .3s,transform .2s;
          transition: top .2s .3s,transform .2s;
          &:nth-child(1) {
            top: 0;
            width: 85%;
          }
          &:nth-child(2), &:nth-child(3) {
            top: 10px;
            width: 60%;
          }
          &:nth-child(4) {
            top: 20px;
          }
        }
        &.open {
          span {
            padding-left: 0;
            background: $white-primary;
            &:nth-child(1) {
              top: 11px;
              width: 0;
              left: 50%;
            }
            &:nth-child(2) {
              //border-bottom: 5px dotted #fff;
              width: 100%;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              //border-bottom: 5px dotted #fff;
              width: 100%;
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
            &:nth-child(4) {
              top: 11px;
              width: 0;
              left: 50%;
            }
          }
        }
        &:hover {
          span {
            width: 100%;
          }
        }
      }
      img {

      }
    }
    form {
      input {
        background: rgba($white-primary, 0.5);
        border: none;
        &:focus {
          box-shadow: none;
        }
      }
      .btn-search {
        display: flex;

        padding-top: 0.4rem;
        //border: 1px solid $orange-primary;

        &:focus {
          box-shadow: none;
        }
        &:hover {
          img {
            //filter: invert(89%) sepia(81%) saturate(1847%) hue-rotate(311deg) brightness(96%) contrast(97%);
          }
        }
      }
    }
  }
  .sidebar {
    z-index: 10;
    background: rgba(248, 251, 252, 1);
    width: 20vw;
    height: 100vh;
    position: fixed !important;
    margin-left: -23vw;;
    transition: 0.4s;
    border-right: 7px solid $white-primary;
    h1 {
      padding-left: 50px;
    }
    .nav-item {
      display: flex;
      padding-left: 50px;
      margin-bottom: 10px;
      img {
        margin-right: 10px;
      }
      a {
        &.nav-link {
          font: 500 18px/1.2 $main-font;
          color: $black-secondary;
        }
      }
      li &.dropdown {
        a {
          color: $black-secondary;
        }
      }
    }
    @media (max-width: $screen-767) {
      position: absolute !important;
      width: 50vw;
      margin-left: -50vw;
    }
    @media (max-width: $screen-575) {
      width: 70vw;
      margin-left: -70vw;
    }
  }

  .dropdown-menu {
    background-color: #7952b3;
  }

  .dropdown-item:active,
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: #ffffff26;
  }

  .categories-container {

    transition: 0.4s;
    .page-content {
      padding: 20px;
      .nav-tabs {
        background: rgba(37, 110, 163, 0.03);
        border-bottom: none;
        margin-bottom: 54px;
        .nav-link {
          width: calc(100% / 6);
          border: none;
          border-radius: 0;
          color: $black-secondary;
          &.active {
            background: #F8FBFC;
          }
        }
      }
      .courses-block {
        margin-bottom: 30px;
        .titles-block {
          margin-bottom: 20px;
          h1 {
            font-weight: bold;
            font-size: 25px;
            line-height: 34px;
          }
          P {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
          }
        }
        .card {
          cursor: pointer;
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
          border: none;
          border-radius: 4px;
          color: $black-secondary;
          .card-head {
            padding: 18px 18px 0 18px;
            .head-left-side {
              margin-right: 14px;
              img {}
            }
            .head-right-side {
              h3 {
                margin: 0;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
              }
              .card-badge {
                display: flex;
                p {
                  margin: 5px 0 0 0;
                  font-weight: 500;
                  font-size: 11px;
                  line-height: 22px;
                  padding: 0 10px;
                  background: rgba(37, 110, 163, 0.4);
                  border-radius: 2px;
                  //width: 30%;
                }
              }
            }
          }
          .card-body {
            p {
              font-weight: 500;
              font-size: 15px;
              line-height: 20px;
              margin-bottom: 50px;
            }
          }
        }
        .more-btn {
          text-align: end;
          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: $black-secondary;
            img {
              margin-left: 5px;
            }
          }
        }
      }
    }
    @media (max-width: $screen-767) {
      .nav-tabs {
        margin-bottom: 54px;
        .nav-link {
          font-size: 14px;
          width: calc(100% / 2) !important;
        }
      }
      &.active-cont {
        margin-left: 0 !important;
      }
      .courses-block {
        .card {
          .card-head {
            .head-right-side {
              p {
                width: 50% !important;
              }
            }
          }
          .card-body {
          }
        }
      }
    }
    @media(max-width: $screen-575) {
      .titles-block {
        margin-bottom: 20px;
        h1 {
          font-size: 25px;
        }
      }

      .card {
        .card-head {
          .head-right-side {
            h3 {
              //font-size: 14px;
            }
            p {
              width: 40% !important;
            }
          }
        }
        .card-body {
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  /* for navbar */

  .active-nav {
    margin-left: 0;
  }

  /* for main section */

  .active-cont {
    margin-left: 20vw;
  }

}
