@import "../vars/fonts";
@import "../vars/colors";
@import "../vars/breakpoints";

.kabinet-page {
  background: rgba(37, 110, 163, 0.03);
  #kabinet {
    .navbar {
      position: sticky;
      z-index: 999;
      top: 0;
      padding: 12px 0;
      background: $blue-primary;
      .btn-showside {
        &:focus {
          box-shadow: none;
        }
        .animated-icon-kabinet {
          width: 28px;
          height: 20px;
          position: relative;
          margin: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          cursor: pointer;

          span {
            background: $white-primary;
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: top .2s .3s,transform .2s;
            -moz-transition: top .2s .3s,transform .2s;
            -o-transition: top .2s .3s,transform .2s;
            transition: top .2s .3s,transform .2s;
            &:nth-child(1) {
              top: 0;
              width: 85%;
            }
            &:nth-child(2), &:nth-child(3) {
              top: 10px;
              width: 60%;
            }
            &:nth-child(4) {
              top: 20px;
            }
          }
          &.open {
            span {
              padding-left: 0;
              background: $white-primary;
              &:nth-child(1) {
                top: 11px;
                width: 0;
                left: 50%;
              }
              &:nth-child(2) {
                //border-bottom: 5px dotted #fff;
                width: 100%;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
              }
              &:nth-child(3) {
                //border-bottom: 5px dotted #fff;
                width: 100%;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }
              &:nth-child(4) {
                top: 11px;
                width: 0;
                left: 50%;
              }
            }
          }
          &:hover {
            span {
              width: 100%;
            }
          }
        }
        img {

        }
      }
      form {
        input {
          background: rgba($white-primary, 0.5);
          border: none;
          &:focus {
            box-shadow: none;
          }
        }
        .btn-search {
          display: flex;

          padding-top: 0.4rem;
          //border: 1px solid $orange-primary;

          &:focus {
            box-shadow: none;
          }
          &:hover {
            img {
              //filter: invert(89%) sepia(81%) saturate(1847%) hue-rotate(311deg) brightness(96%) contrast(97%);
            }
          }
        }
      }
      //width: 100%;
    }
    .sidebar {
      z-index: 10;
      background: rgba(248, 251, 252, 1);
      width: 20vw;
      height: 100vh;
      position: fixed !important;
      margin-left: -23vw;;
      transition: 0.4s;
      border-right: 7px solid $white-primary;
      .nav-item {
        display: flex;
        padding-left: 50px;
        margin-bottom: 10px;
        img {
          margin-right: 10px;
        }
        a {
          &.nav-link {
            font: 500 18px/1.2 $main-font;
            color: $black-secondary;
          }
        }
        li &.dropdown {
          a {
            color: $black-secondary;
          }
        }
      }
      @media (max-width: $screen-767) {
        position: absolute !important;
        width: 50vw;
        margin-left: -50vw;
      }
      @media (max-width: $screen-575) {
        width: 70vw;
        margin-left: -70vw;
      }
    }



    .dropdown-menu {
      background-color: #7952b3;
    }

    .dropdown-item:active,
    .dropdown-item:focus,
    .dropdown-item:hover {
      background-color: #ffffff26;
    }


    .kabinet-container {
      transition: 0.4s;

      .page-content {
        padding: 20px;
        .courses-block {
          margin-bottom: 30px;
          .titles-block {
            margin-bottom: 20px;
            h1 {
              font-weight: bold;
              font-size: 25px;
              line-height: 34px;
            }
            P {
              font-weight: 500;
              font-size: 15px;
              line-height: 22px;
            }
          }
          .card {
            cursor: pointer;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
            border: none;
            border-radius: 4px;
            color: $black-secondary;
            .card-head {
              padding: 18px 18px 0 18px;
              .head-left-side {
                margin-right: 14px;
                img {}
              }
              .head-right-side {
                h3 {
                  margin: 0;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 22px;
                }
                .card-badge {
                  display: flex;
                  p {
                    margin: 5px 0 0 0;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 22px;
                    padding: 0 10px;
                    background: rgba(37, 110, 163, 0.4);
                    border-radius: 2px;
                    //width: 30%;
                  }
                }
              }
            }
            .card-body {
              p {
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 50px;
              }
            }
          }
          .history-side-block {
            h1 {
              font-size: 25px;
            }
            .head-left-side {
              img {
                width: 32px;
              }
            }
            .head-right-side {
              h4 {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: $black-secondary;
              }
              p {
                font-weight: normal;
                font-size: 15px;
                line-height: 15px;
                margin-left: 10px;
              }
              .progress{
                position: relative;
                height: 12px;
                width: 100%;
                border: 2px solid $green-primary;
                border-radius: 15px;
                .color{
                  position: absolute;
                  background-color: $green-primary;
                  width: 0;
                  height: 6px;
                  margin-left: 1px;
                  margin-top: 1px;
                  border-radius: 15px;
                  animation: progress-animate 4s linear;
                  animation-fill-mode: forwards;
                }

                @keyframes progress-animate {
                  0%{
                    width: 0;
                  }
                  25%{
                    width: 50%;
                  }
                  50%{
                    width: 70%;
                  }
                  100%{
                    width: 80%;
                  }
                }
              }
            }
          }
          .more-btn {
            text-align: end;
            a {
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: $black-secondary;
              img {
                margin-left: 5px;
              }
            }
          }
          @media(max-width: $screen-575) {
            .titles-block {
              margin-bottom: 20px;
              h1 {
                font-size: 25px;
              }
            }
            .card {
              .card-head {
                .head-right-side {
                  h3 {
                    //font-size: 14px;
                  }
                  //p {
                  //  width: 35%;
                  //}
                }
              }
              .card-body {
                p {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
        .news-block {
          margin-bottom: 30px;
          .titles-block {
            margin-bottom: 20px;
            h1 {
              font-weight: bold;
              font-size: 25px;
              line-height: 34px;
            }
            P {
              font-weight: 500;
              font-size: 15px;
              line-height: 22px;
            }
          }
          .card {
            cursor: pointer;
            box-shadow: none !important;
            border: none;
            border-top: 1px solid $black-secondary;
            border-bottom: 1px solid $black-secondary;
            border-radius: 0;
            color: $black-secondary;
            background: transparent;
            .card-head {
              padding: 18px 18px 0 18px;
              justify-content: space-between;
              .head-left-side {
                margin-right: 14px;
                h3 {
                  margin: 0;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 22px;
                }
              }
              .head-right-side {

                p {
                  margin: 5px 0 0 0;
                  font-weight: 500;
                  font-size: 11px;
                  line-height: 22px;
                  padding: 0 10px;
                  background: rgba(37, 110, 163, 0.4);
                  border-radius: 2px;
                  width: 100%;
                }
              }
            }
            .card-body {
              align-items: center;
              color: $black-secondary;
              img {
                width: 90px; height: auto;
                margin-right: 10px;
              }
              p {
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
              }
            }
          }
          .more-btn {
            text-align: end;
            a {
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: $black-secondary;
              img {
                margin-left: 5px;
              }
            }
          }
        }
      }
      @media (max-width: $screen-767) {
        &.active-cont {
          margin-left: 0 !important;
        }
        .courses-block {
          .card {
            .card-head {
              .head-right-side {
                p {
                  width: 50% !important;
                }
              }
            }
            .card-body {
            }
          }
        }
        .news-block {
          .card {
            &.without-border-on-mobile {
              border-top: 0;
            }
          }
        }
      }
    }

    /* for navbar */

    .active-nav {
      margin-left: 0;
    }

    /* for main section */

    .active-cont {
      margin-left: 20vw;
    }
  }

}

.modal {
  &#coursesModal-kabinet {
    .modal-dialog {
      .modal-content {
        min-height: 80vh;
        border: none;
        .modal-header {
          background: $green-primary;
          h3 {
            font-weight: bold;
            font-size: 26px;
            line-height: 54px;
            color: $white-primary;
          }
          .btn-close {
            &:focus {
              box-shadow: none;
            }
          }
          .rating-block {
            margin-right: 20px;
            p {
              font-weight: normal;
              font-size: 14px;
              line-height: 24px;
              color: $white-primary;
              text-align: start;
            }
            .star-wrapper {
              transform: translate(0%, -50%);
              direction: rtl;
              a {
                font-size: 1em;
                color: #fff;
                text-decoration: none;
                transition: all 0.1s;
                margin: 1px;
                &:hover {
                  color: gold;
                  transform: scale(1.2);
                }
              }
            }
            .s1:hover ~ a {
              color: gold;
            }
            .s2:hover ~ a {
              color: gold;
            }
            .s3:hover ~ a {
              color: gold;
            }
            .s4:hover ~ a {
              color: gold;
            }
            .s5:hover ~ a {
              color: gold;
            }
          }

        }
        .modal-body {
          .courses-modal-left-side {
            .accordion {
              .accordion-item {
                h2 {
                  border-radius: 4px !important;
                }
                button {
                  padding: 0.5rem 1.25rem;
                  border-radius: 4px !important;
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 24px;
                  color: $black-secondary;
                  &:not(.collapsed) {
                    color: $white-primary;
                    background-color: $blue-icons;
                    box-shadow: none;
                    &:after {
                      background: url("../../img/arrow-white-top.svg") no-repeat center center;
                    }
                  }
                  &:after {
                    fill: white;
                    background: url("../../img/arrow-blur-bottom.svg") no-repeat center center;
                  }
                }
                .accordion-body {
                  padding-right: 0.25rem;
                  padding-left: 0.75rem;
                  ul {
                    list-style-type: none;
                    padding-left: 0 !important;
                    margin-bottom: 0;
                    li {
                      padding: 3px 7px;
                      margin-bottom: 5px;
                      border-radius: 4px;
                      &:hover {
                        background: $blue-primary;
                        a {
                          color: $white-primary;
                        }
                      }
                      a {
                        text-decoration: none;
                        //white-space: nowrap;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 25px;
                        color: $black-secondary;
                      }
                    }
                  }
                }
              }
            }
          }
          .courses-modal-right-side {
            //$breadcrumb-divider: '<>>';
            .breadcrumb {
              margin-bottom: 20px;
              .breadcrumb-item {
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: $black-secondary;
                &:before {
                  color: $blue-icons;
                  //content: var(--bs-breadcrumb-divider, ">");
                }
                a {
                  color: $blue-icons !important;
                }
              }
            }
            h3 {
              font-weight: 900;
              font-size: 18px;
              line-height: 24px;
              color: $black-secondary;
              margin-bottom: 30px;
            }
            .videoWrapper {
              position: relative;
              padding-bottom: 56.25%; /* 16:9 */
              padding-top: 25px;
              height: 0;
              margin-bottom: 40px;
              iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: $black-secondary;
              margin-bottom: 40px;
            }
            .banner-block {
              h1 {
                font-weight: bold;
                font-size: 60px;
                line-height: 68px;
                color: $blue-secondary;
              }
              padding: 100px 60px 40px;
              width: 100%;
              background: linear-gradient(104.04deg, rgba(53, 201, 197, 0.4) 14%, rgba(0, 169, 219, 0.4) 84.88%);
            }
          }
        }
      }
    }
  }
  &#coursesModal-categories {
    @extend #coursesModal-kabinet
  }

}




